.coffee {
    padding: 2em;
    margin: 0;
}

.coffee p {
    color: #fff;
}

.bg {
    background-color: rgba(92, 92, 91, .8);
}

@media(min-width:1024px) {
    .logo {
        margin: 1em 0;
    }
}